<!DOCTYPE HTML5>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>Depth Chart</title>
	</head>
	<body>
		<div id="line-chart"></div>
		<script type="text/javascript" th:src="@{/js/plotly.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/depth-chart.js}"></script>
		<script th:inline="javascript">
            var destination = [[${destination}]];
			var source = [[${source}]];
			var limit = [[${limit}]];
			grabData(destination, source, limit, drawFirstChart);
		</script>
	</body>

</html>